[submodule "FStar"]
	path = FStar
	url = https://github.com/FStarLang/FStar.git
[submodule "karamel"]
	path = karamel
	url = https://github.com/FStarLang/karamel
[submodule "src/package/windows/z3-sources"]
	path = src/package/windows/z3-sources
	url = https://github.com/Z3Prover/z3
[submodule "everest"]
	path = everest
	url = https://github.com/project-everest/everest
