.*~
*~
_build
.depend
*.cmi
*.cmo
*.o
*.cmx
*.cmxa
*.krml
tests/unit/*
!tests/unit/Makefile
**/out
bin/qd.exe
bin/3d.exe

# package.sh creates there
__fstar-install
everparse/**
everparse_*.tar.gz
everparse_*.zip
