[submodule "opt/FStar"]
	path = opt/FStar
	url = https://github.com/mtzguido/FStar
	branch = bij
[submodule "opt/karamel"]
	path = opt/karamel
	url = https://github.com/mtzguido/karamel
[submodule "opt/pulse"]
	path = opt/pulse
	url = https://github.com/FStarLang/pulse
[submodule "opt/hacl-star"]
	path = opt/hacl-star
	url = https://github.com/hacl-star/hacl-star
[submodule "src/cddl/unit-tests/QCBOR"]
	path = src/cddl/unit-tests/QCBOR
	url = https://github.com/laurencelundblade/QCBOR
[submodule "src/cddl/unit-tests/tinycbor"]
	path = src/cddl/unit-tests/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "opt/everest"]
	path = opt/everest
	url = https://github.com/project-everest/everest
