out.inplace-hash
out.batch
out.batch-interpret
out.elf
out.fail.batch
out.cleanup
out.z3-testgen
test-cpp.exe
*.out
*.err
out.pulse
out.fail.pulse

# Build directories of the subdirectory tests.
obj/
output/
batch_obj/
